<!DOCTYPE html>
<html>
   <body>
      <form method="POST" action="/table/">
         <h2>Admin page.</h2>
         <label for="tables">Choose a table:</label>
         <select name="tables">
         <option value="">
         </option>
         <option value="timetable">Timetable</option>
         <option value="status">Status</option>
         <option value="mark">Mark</option>
         <option value="programme">Programme</option>
         </select>
         <input type="submit" value="Submit">
         </form>
   </body>
</html>