<!DOCTYPE html>
<html>
<body>
    <h2>Список пользователей</h2>
    <div>
        <input type="hidden" id="id_student" />
        <p>
            Имя:<br/>
            <input id="sName" />
        </p>
        <p>
            Возраст:<br />
            <input id="Balance" type="number" />
        </p>
         <p>
            <button id="saveBtn">Save</button>
            <button id="resetBtn">Cancel</button>
        </p>
    </div>
    <table>
        <thead><tr><th>Name</th><th>Balance</th><th></th></tr></thead>
        <tbody>
        </tbody>
    </table>
  
    <script>
    // Получение всех пользователей
        async function getStudents() {
            // отправляет запрос и получаем ответ
            const response = await fetch("/students/", {
                method: "GET",
                headers: { "Accept": "application/json" }
            });
            // если запрос прошел нормально
            if (response.ok === true) {
                // получаем данные
                const students = await response.json();
                const rows = document.querySelector("tbody");
                // добавляем полученные элементы в таблицу
                students.forEach(student => rows.append(row(student)));
            }
        }
        // Получение одного пользователя
        async function getStudent(id) {
            const response = await fetch(`/student/${id}`, {
                method: "GET",
                headers: { "Accept": "application/json" }
            });
            if (response.ok === true) {
                const student = await response.json();
                document.getElementById("id_student").value = student.id_student;
                document.getElementById("sName").value = student.sname;
                document.getElementById("Balance").value = student.value;
            }
            else {
                // если произошла ошибка, получаем сообщение об ошибке
                const error = await response.json();
                console.log(error.message); // и выводим его на консоль
            }
        }
        // Добавление пользователя
        async function createstudent(sName, Balance) {
  
            const response = await fetch("/student/", {
                method: "POST",
                headers: { "Accept": "application/json", "Content-Type": "application/json" },
                body: JSON.stringify({
                    sname: sName,
                    balance: parseInt(Balance, 10)
                })
            });
            if (response.ok === true) {
                const student = await response.json();
                document.querySelector("tbody").append(row(student));
            }
            else {
                const error = await response.json();
                console.log(error.message);
            }
        }
        // Изменение пользователя
        async function editStudent(id, sName, Balance) {
            const response = await fetch("/student/", {
                method: "PUT",
                headers: { "Accept": "application/json", "Content-Type": "application/json" },
                body: JSON.stringify({
                    id_student: id,
                    sname: sName,
                    balance: parseInt(Balance, 10)
                })
            });
            if (response.ok === true) {
                const student = await response.json();
                document.querySelector(`tr[data-rowid='${student.id_student}']`).replaceWith(row(student));
            }
            else {
                const error = await response.json();
                console.log(error.message);
            }
        }
        // Удаление пользователя
        async function deleteStudent(id) {
            const response = await fetch(`/student/${id}`, {
                method: "DELETE",
                headers: { "Accept": "application/json" }
            });
            if (response.ok === true) {
                const student = await response.json();
                document.querySelector(`tr[data-rowid='${student.id_student}']`).remove();
            }
            else {
                const error = await response.json();
                console.log(error.message);
            }
        }
  
        // сброс данных формы после отправки
        function reset() {
            document.getElementById("id_student").value = 
            document.getElementById("sName").value = 
            document.getElementById("Balance").value = "";
        }
        // создание строки для таблицы
        function row(student) {
  
            const tr = document.createElement("tr");
            tr.setAttribute("data-rowid", student.id_student);
  
            const nameTd = document.createElement("td");
            nameTd.append(student.sname);
            tr.append(nameTd);
  
            const balanceTd = document.createElement("td");
            balanceTd.append(student.balance);
            tr.append(balanceTd);
  
            const linksTd = document.createElement("td");
  
            const editLink = document.createElement("button"); 
            editLink.append("Update");
            editLink.addEventListener("click", async() => await getStudent(student.id_student));
            linksTd.append(editLink);
  
            const removeLink = document.createElement("button"); 
            removeLink.append("Delete");
            removeLink.addEventListener("click", async () => await deleteStudent(student.id_student));
  
            linksTd.append(removeLink);
            tr.appendChild(linksTd);
  
            return tr;
        }
        // сброс значений формы
        document.getElementById("resetBtn").addEventListener("click", () =>  reset());
  
        // отправка формы
        document.getElementById("saveBtn").addEventListener("click", async () => {
             
            const id_student = document.getElementById("id_student").value;
            const sname = document.getElementById("sName").value;
            const balance = document.getElementById("Balance").value;
            if (id === "")
                await createStudent(sname, balance);
            else
                await editStudent(id_student, sname, balance);
            reset();
        });
  
        // загрузка пользователей
        getStudents();
    </script>
</body>
</html>