<!DOCTYPE html>
<html>
<body>
    <form method="POST" action="/table/">
    <h2>User page.</h2>
    <label for="tables">Choose a table:</label>
    <select name="tables">
    <option value="">
    </option>
    <option value="student">Student</option>
    <option value="teacher">Teacher</option>
    <option value="course">Course</option>
    <option value="programme">Programme</option>
    <option value="timetable">Timetable</option>
    </select>
    <input type="submit" value="Submit">
    </form>
</body>
</html>